# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/MedicalExperiment.iml
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/markdown-navigator/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/workspace.xml
Будет удалено MedicalExperimen/.idea/inspectionProfiles/
